.period-picker-popover{
    .popover-header > .inner{
        display: flex;
        align-items: center;

        .year{
            flex-grow: 1;
            text-align: center;
            font-weight: bold;
            font-size: 1.3rem;
            line-height: 1;
        }

        a{
            font-size: 1.5rem;
            line-height: 1;
        }
    }

    .popover-body{
        padding: .4rem;

        > .inner{
            > div + div{
                margin-top: .4rem;
            }

            > div > div{
                padding: .4rem;
            }

            button{
                display: block;
                width: 100%;
            }

            .semester{
                display: flex;

                > div{
                    width: 50%;
                }
            }

            .quarter, .month{
                display: flex;
                flex-wrap: wrap;

                > div{
                    width: 25%;
                }
            }
        }
    }
}

